<div class='left'>

  <a class='user-link'>
    <img class='thumbnail' src='<%= user.profilePictureUrl %>' alt='profile picture'>
    <div class='name'>
    <%= user.firstName + ' ' + user.surname %>
    </div>
  </a>
  
  <a class='news-feed-link' href='/news-feed'>
    <img id='icon' src='images/news-feed.png' alt='news feed'>
    <div id='words'>News Feed</div>
  </a>

</div>
  