<%- include('_head') %>

<body id='index'>

  <header>
    <div class='items'>
      <img id='facebook-logo' src='images/facebook.png' alt='facebook logo'>
      <form action='/sign-in' method='POST'>
        <div class='form-field'>
          <div class='label'>Email</div>
          <input type='email' name='email' required>
        </div>
        <div class='form-field'>
          <div class='label'>Password</div>
          <input type='password' name='password' required>
        </div>
        <div id='form-button'>
          <input type='submit' value='Log In'>
        </div>
      </form>
    </div>
  </header>

  <main>
    <div class='items'>
      <section class='left'>
        <div id='connect-sentence'>Facebook helps you connect and share with the people in your life.</div>
        <img src='images/map.png' alt='facebook map'>
        <div id='flash'>
        <% if (sessionFlash && sessionFlash.message) { %>
          <%= sessionFlash.message %>
        <% } %>
        </div>
      </section>
      <section class='right'>
        <form action='/sign-up' method='POST'>
          <div id='create-sentence'>Create an account</div>
          <div id='free-sentence'>It's free and always will be.</div>
          <input type='text' name='firstName' placeholder='First name' required><input type='text' name='surname' placeholder='Surname' required>
          <input type='email' name='email' placeholder='Email address' required>
          <input type='password' name='password' placeholder='New password' required>
        <%- include('_date-picker') %>
          <div id='sex-radio-buttons'>
            <div class='sex'>
              <input type='radio' name='sexId' value='1'>
              <div class='label'>Female</div>
            </div>
            <div class='sex'>
              <input type='radio' name='sexId' value='2'>
              <div class='label'>Male</div>
            </div>
          </div>
          <input type='submit' value='Sign Up'>
        </form>
      </section>
    </div>
  </main>

</body>
