/* #region app-wide */

* {
  display: inline-block;
  box-sizing: content-box;
  font-size: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1c2129;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:focus {
  outline: none;
}

::placeholder {
  color: #999999;
}

/* #endregion */

/* #region index */

/* #region index header */

#index header {
  display: block;
  border-bottom: #143683;
  min-width: 980px;
  height: 83px;
  background-image: linear-gradient(#4e68a2, #3b5997, #3b5997);
}

#index .items {
  display: block;
  margin: auto;
  width: 980px;
}

#facebook-logo {
  margin-top: 30px;
  width: 170px;
}

#index header form {
  float: right;
  margin-top: 14px;
}

#index header .form-field {
  width: 164px;
}

#index header .label {
  padding: 0 0 0 1px;
  font-size: 12px;
  color: #ffffff;
  -webkit-font-smoothing: subpixel-antialiased;
}

#index header input[type='email'], #index header input[type='password'] {
  margin-top: 5px;
  border: 1px solid #1d2a5b;
  width: 141px;
  padding: 3px 3.5px 4px 3.5px;
  font-size: 12px;
}

#index header #form-button {
  vertical-align: top;
  padding: 20px 1px 0 0;
}

#index header input[type='submit'] {
  border: 1px solid #2a477d;
  border-radius: 2px;
  padding: 2px 6px;
  background-color: #4367b2;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

/* #endregion */

/* #region index main */

#index main {
  display: block;
  min-width: 980px;
  height: 555px;
  background-image: linear-gradient(#ffffff, #d3d8e8);
}

#index .left {
  margin-right: 43px; 
  width: 537px;
}

#connect-sentence {
  margin-top: 40px;
  width: 505px;
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  word-spacing: -1px;
  color: #0e385f;
  -webkit-font-smoothing: subpixel-antialiased;
}

#flash {
  margin-top: 100px;
  width: 505px;
  font-size: 19px;
  text-align: center;
  color: #ff0022;
  -webkit-font-smoothing: subpixel-antialiased;
}

#index .right {
  vertical-align: top;
  width: 399px;
}

#create-sentence {
  margin-top: 22px;
  font-size: 36px;
  font-weight: 600;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}

#free-sentence {
  margin-top: 9px;
  font-size: 19px;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}

#index main input[type='text'] {
  margin-top: 22px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  width: 174px;
  height: 20px;
  padding: 8px 9px;
  font-size: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#index main input[type='text']:first-of-type {
  margin-right: 11px;
}

#index main input[type='email'], #index main input[type='password'] {
  margin-top: 11px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  width: 379px;
  height: 20px;
  padding: 8px 9px;
  font-size: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#birthday-word {
  margin-top: 22px;
  font-size: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
}

select {
  margin-top: 7px;
  border: 1px solid #bdc7d8;
  height: 28px;
  background-color: #ffffff;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#date-picker {
  width: 399px;
  height: 37px;
}

#day {
  width: 46px;
}

#month {
  width: 61px;
}

#year {
  width: 55px;
}

#sex-radio-buttons {
  margin-top: 11px;
  width: 399px;
  height: 30px;
}

#sex-radio-buttons .sex {
  margin-right: 13px;
}

#sex-radio-buttons input[type='radio'] {
  margin: 7px;
  font-size: 12px;
}

#sex-radio-buttons .label {
  vertical-align: top;
  font-size: 18px;
  line-height: 30px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#index main input[type='submit'] {
  margin-top: 101px; 
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  width: 152px;
  height: 23px;
  padding: 7px 20px;
  background: linear-gradient(#67ae55, #578843);
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  text-shadow: 0 1px 2px #00000088;
  color: #ffffff;
  -webkit-appearance: button;
}

/* #endregion */

/* #endregion */

/* #region news-feed */

#news-feed {
  background-color: #e9ebee;
}

/* #region news-feed header */

#news-feed header {
  position: fixed;
  border-bottom: #2a477d;
  width: 100%;
  min-width: 1022px;
  height: 43px;
  background-color: #4367b2;
}

#news-feed .items {
  display: block;
  margin: auto;
  width: 1022px;
}

#f-logo {
  margin: 9px 0 0 5px;
  width: 24px;
  cursor: pointer;
}

#f-logo:hover {
  background-color: #3c5da1;
}

#news-feed header .user-link {
  float: right;
  margin: 7px 0 0 0;
  border-radius: 2px;
  padding: 2px 6px 2px 2px;
}

#news-feed header .user-link:hover {
  background-color: #3c5da1;
}

#news-feed header .thumbnail {
  border-radius: 12px;
  width: 24px;
  height: 24px;
  background-color: #2a477d;
}

#news-feed header .name {
  vertical-align: top;
  margin: 4px 6px 4px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.pipe {
  float: right;
  margin-top: 12px;
  border-right: 1px solid #3c5da1;
  height: 18px;
}

#news-feed header .news-feed-link, #news-feed header #log-out-link {
  float: right;
  margin: 7px 0 0 0;
  border-radius: 2px;
  padding: 6px 12px 8px 12px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

#news-feed header .news-feed-link:hover {
  background-color: #3c5da1;
}

#news-feed header #log-out-link {
  margin-right: 190px;
}

#news-feed header #log-out-link:hover {
  background-color: #3c5da1;
}

/* #endregion */

/* #region mews-feed main */

#news-feed main {
  display: block;
  min-width: 1022px;
}

/* #region left */

#news-feed main .left {
  position: fixed;
  vertical-align: top;
  margin-top: 54px;
  width: 196px;
}

#news-feed main .left .user-link {
  border: 1px solid #e9ebee;
  width: 184px;
  height: 28px;
  cursor: pointer;
}

#news-feed main .left .user-link:hover {
  border: 1px solid #dddfe2;
  border-radius: 1px;
  background-color: #f5f6f7
}

#news-feed main .left .user-link .thumbnail {
  margin: 4px 6px 4px 4px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #2a477d;
}

#news-feed main .left .user-link .name {
  vertical-align: top;
  margin-top: 6px;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#news-feed main .left .news-feed-link {
  margin-top: 9px; 
  border: 1px solid #dddfe2;
  border-radius: 1px;
  width: 184px;
  height: 28px;
  background-color: #f5f6f7;
  cursor: pointer;
}

#news-feed main .left .news-feed-link #icon {
  margin: 5px;
  width: 18px;
}

#news-feed main .left .news-feed-link #words {
  vertical-align: top;
  margin: 6px 0 0 2px;
  font-size: 13px;
  font-weight: 600;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* #endregion */

/* #region middle */

#news-feed main .middle {
  vertical-align: top;
  margin: 55px 0 0 196px;
  width: 512px;
}

#create-post {
  overflow: hidden;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  width: 500px;
  background-color: #ffffff;
}

#create-post #top {
  display: block;
  border-bottom: 1px solid #dddfe2;
  height: 32px;
  padding-left: 8px; 
  background-color: #f5f6f7;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  color: #4b4f56;
  -webkit-font-smoothing: subpixel-antialiased;
}

#create-post .thumbnail, .display-post > .thumbnail {
  float: left;
  vertical-align: top;
  margin: 12px 8px 8px 12px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: #2a477d;
}

#create-post .content {
  overflow-wrap: break-word;
  margin: 23px 0 9px 4px;
  border: none;
  resize: none;
  width: 386px;
  min-height: 39px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#create-post .bottom:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 476px;
  border-top: 1px solid #e9ebee;
}

#create-post .bottom {
  display: block;
  height: 49px;
}

#create-post #add-photo {
  margin: 8px 0 0 12px;
  border-radius: 16px;
  width: 122px;
  height: 32px;
  background-color: #f5f6f7;
  cursor: pointer;
}

#create-post #add-photo #icon {
  margin: 7px 0 0 10px;
  width: 18px;
}

#create-post #add-photo #words {
  vertical-align: top;
  margin-left: 7px;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  color: #4b4f56;
  -webkit-font-smoothing: subpixel-antialiased;
}

#create-post button {
  float: right;
  margin: 8px 12px 0 0;
  border: none;
  text-decoration: none;
  border-radius: 16px;
  width: 122px;
  height: 32px;
  padding: 0;
  background-color: #4367b2;
  cursor: pointer;
  font-size: 12px; 
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

#create-post button:hover {
  background-color: #365899;
}

.display-post {
  margin-top: 10px;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  width: 500px;
  background-color: #ffffff;
}

.display-post > .name {
  margin-top: 14px;
  width: 440px;
  font-size: 14px;
  font-weight: 600;
  color: #365899;
  -webkit-font-smoothing: subpixel-antialiased;
}

.display-post .post-created-at {
  width: 440px;
  margin: 3px 0 11px 0;
  font-size: 12px;
  color: #616770;
  -webkit-font-smoothing: subpixel-antialiased;
}

.display-post .post-content {
  overflow-wrap: break-word;
  margin: 0 12px 12px 12px;
  width: 476px;
  font-size: 14px;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.display-post .social {
  width: 476px;
  height: 16px;
  padding: 0 12px 12px;
}

.display-post .social .like-count {
  float: left;
  font-size: 13px;
  color: #606770;
  -webkit-font-smoothing: subpixel-antialiased;
}

.display-post .social .like-count .icon {
  height: 16px;
}

.display-post .social .like-count .number {
  position: relative;
  vertical-align: top;
  cursor: pointer;
  font-size: 13px;
  color: #606770;
}

.display-post .social .like-count .number .tooltiptext {
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -16px;
  visibility: hidden;
  border-radius: 3px;
  width: auto;
  padding: 10px;
  background-color: #282828;
  font-size: 12px;
  color: #ffffff;
  -webkit-font-smoothing: subpixel-antialiased;
}

.display-post .social .like-count .number .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 12px;
  border-width: 5px;
  border-style: solid;
  border-color: #282828 transparent transparent transparent;
}

.display-post .social .like-count .number:hover .tooltiptext {
  visibility: visible;
}

.display-post .social .comment-count {
  float: right;
  font-size: 13px;
  color: #606770;
  -webkit-font-smoothing: subpixel-antialiased;
}

.display-post .options:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 476px;
  border-bottom: 1px solid #dbdde1;
}

.display-post .options {
  display: block;
  border-bottom: 1px solid #dbdde1;
  height: 41px;
  text-align: center;
}

.display-post .options .like-button, .display-post .options .comment-button {
  margin-top: 4px;
  border: none;
  border-radius: 1px;
  width: 237px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  font-size: 13px;
}

.display-post .options .like-button:hover, .display-post .options .comment-button:hover {
  background-color: #f6f6f7;
}

.display-post .options .like-button {
  margin-right: 1px;
}

.display-post .options .comment-button {
  margin-left: 1px;
}

.display-post .options .like-button .icon {
  margin: 5px 3px 2px 14px;
  width: 18px;
}

.display-post .options .comment-button .icon {
  margin: 4px 3px 3px 16px;
  width: 17px;
  padding-top: 1px;
}

.display-post .options .word-empty, .display-post .options .word-full {
  vertical-align: top;
  margin: 6px 13px 0 0;
  font-size: 13px;
  font-weight: 600;
  -webkit-font-smoothing: subpixel-antialiased;
}

.display-post .options .word-empty {
  color: #606770;
}

.display-post .options .word-full {
  color: #3478e5;
}

.comment {
  width: 476px;
  padding: 8px 12px 0 12px;
}

.comment .name, .comment .comment-content {
  font-size: 13px;
  line-height: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.comment .comment-content {
  border-radius: 16px;
  max-width: 396px;
  padding: 8px 10px;
  background-color: #f2f3f5;
  font-size: 13px;
  line-height: 16px
}

.comment .name {
  font-weight: 600;
  color: #365899;
  -webkit-font-smoothing: subpixel-antialiased;
}

.comment .thumbnail, .leave-comment .thumbnail {
  float: left;
  vertical-align: top;
  margin: 1px 6px 0 0;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  background-color: #2a477d;
}

.display-post .comment-created-at {
  width: 400px;
  padding: 1px 0 4px 60px;
  font-size: 12px;
  color: #616770;
  -webkit-font-smoothing: subpixel-antialiased;
}

.leave-comment {
  height: 34px;
  padding: 8px 12px;
}

.leave-comment .comment-content {
  border: 1px solid #ccd0d6;
  border-radius: 18px;
  width: 412px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 16px;
  background-color: #f2f3f5;
}

.leave-comment .comment-content::placeholder {
  color: #8d949e;
}

.leave-comment .comment-content:focus-within::placeholder  {
  color: #bec3c9;
}


/* #endregion */

/* #region right */

#news-feed main .right {
  position: fixed;
  margin-top: 55px; 
  width: 308px;
}

#friend-suggestions {
  border: 1px solid #dddfe2;
  border-radius: 4px;
  width: 308px;
  background-color: #ffffff;
}

#friend-sentence {
  margin: 12px 0 16px 12px;
  font-size: 13px;
  font-weight: 600;
  color: #616770;
  -webkit-font-smoothing: subpixel-antialiased;
}

#friend-suggestions .person {
  margin-bottom: 16px;
  width: 308px;
  height: 48px;
}

#friend-suggestions .thumbnail {
  margin: 0 8px 0 16px;
  border-radius: 30px;
  width: 48px;
  height: 48px;
  background-color: #2a477d;
  -webkit-font-smoothing: subpixel-antialiased;
}

#friend-suggestions .details {
  vertical-align: top;
  width: 150px;
}

#friend-suggestions .name {
  margin: 7px 0 0 4px;
  width: 150px;
  font-size: 13px;
  font-weight: 600;
  color: #365899;
  -webkit-font-smoothing: subpixel-antialiased;
}

.friend-status-sentence {
  margin: 3px 0 0 4px;
  width: 150px;
  font-size: 13px;
  font-weight: 400;
  color: #8d949e;
  -webkit-font-smoothing: subpixel-antialiased;
}

.add-button {
  float: right;
  margin: 13px 16px 0 0;
  border: none;
  border-radius: 2px;
  width: 60px;
  height: 24px;
  padding: 0;
  background-color: #4367b2;
  cursor: pointer;
}

.add-button img {
  margin: 6px 4px 0 10px;
  width: 12px;
}

.add-button .word {
  vertical-align: top;
  margin-top: 4.5px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.add-button:hover {
  background-color: #365899;
}

.pending-button, .confirm-button, .remove-button {
  float: right;
  margin: 13px 16px 0 0;
  border: 1px solid #ccd0d6;
  border-radius: 2px;
  width: 58px;
  height: 22px;
  padding: 0;
  background-color: #f5f6f7;
  cursor: pointer;

}

.pending-button .word, .confirm-button .word, .remove-button .word {
  width: 58px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #4b4f56;
}

.pending-button:hover, .confirm-button:hover, .remove-button:hover {
  background-color: #ebedf0;
}

/* #endregion */

/* #endregion */

/* #endregion */
